<h5>
  景點
  <%= attraction.name %>
</h5>
<%= form_for [attraction, comment] do |f| %>
  <%= f.text_area :content, placeholder: "請輸入景點遊記" %>
  <%= f.file_field :images, multiple: true, id: "imagesInput" %>
  <div id="preview_imgs" style="width:100%; height: 300px; overflow:scroll;">
    <p>目前沒有圖片</p>
    <% if type && type == "edit" %>
      <% comment.images.each do |image| %>
        <%= image_tag image, width: "300", height: "200" %>
      <% end %>
    <% end %>
  </div>
  <%= f.text_field :suggestion, placeholder: "建議分類？" %>
  <%= f.submit %>
<% end %>

<script>
$("#imagesInput").change(function(){
  $("#preview_imgs").html(""); // 清除預覽
  readURL(this);
});

function readURL(input){
  if (input.files && input.files.length >= 0) {
    for(var i = 0; i < input.files.length; i ++){
      var reader = new FileReader();
      reader.onload = function (e) {
        var img = $("<img width='300' height='200'>").attr('src', e.target.result);
        $("#preview_imgs").append(img);
      }
      reader.readAsDataURL(input.files[i]);
    }
  }else{
     var noPictures = $("<p>目前沒有圖片</p>");
     $("#preview_imgs").append(noPictures);
  }
}
</script>