<h5 style="padding-top: 20px;padding-bottom: 12px;">
  景點名稱：<%=attraction.name %>
</h5>
<%= form_for comment, url: attraction_reviews_path do |f| %>
  <div class="input-field">
    <label for="content">遊記：詳細過程、時間、價格等注意事項</label>
    <%= f.text_area :content, placeholder: "越詳細越有幫助！", class:"materialize-textarea" %>
  </div>
  <div class="input-field">
    <label for="image">圖片：將由Google Vision判別真偽，請提供包含景點特色之圖片</label>
    <div class="imageInputWarpper">
      <label for="imagesInput" class="file-upload">
          <i class="material-icons">cloud_upload</i>上傳圖檔
      </label>
      <%= f.file_field :images, multiple: true, id: "imagesInput" %>
    </div>
  </div>

  <div id="preview_imgs" style="width:100%; min-height: 50px; margin-bottom: 12px;">
    <p>目前沒有圖片</p>
    <% if type && type == "edit" %>
      <% comment.images.each do |image| %>
        <%= image_tag image, width: "300", height: "200" %>
      <% end %>
    <% end %>
  </div>
  <div class="input-field">
    <label for="suggestion">對於本景點的分類建議？(Optional)</label>
    <%= f.text_field :suggestion, placeholder: "建議分類？" %>
  </div>
  <%= f.submit "提交", {class:"btn"} %>
<% end %>
<p style="padding-top: 12px;">*提交後，將由<a href="https://cloud.google.com/vision/docs/other-features#landmarks">Google Vision</a>審核圖片真實性，通過後才會顯示在景點上。</p>


<script>
$("#imagesInput").change(function(){
  $("#preview_imgs").html(""); // 清除預覽
  readURL(this);
});

function readURL(input){
  if (input.files && input.files.length >= 0) {
    for(var i = 0; i < input.files.length; i ++){
      var reader = new FileReader();
      reader.onload = function (e) {
        var img = $("<img width='300' height='200'>").attr('src', e.target.result);
        $("#preview_imgs").append(img);
      }
      reader.readAsDataURL(input.files[i]);
    }
  }else{
     var noPictures = $("<p>目前沒有圖片</p>");
     $("#preview_imgs").append(noPictures);
  }
}
</script>