<%= form_for [:admin, attraction] do |f| %>
  <%= f.label :name, "name" %>
  <%= f.text_field :name %>

  <%= f.label :image, "image" %>
  <%= f.text_field :image %>

  <%= f.label :description, "description" %>
  <%= f.text_area :description, style:"min-height: 150px;"%>

  <%= f.label :address, "address" %>
  <%= f.text_field :address %>

  <%= f.label :lat, "lat" %>
  <%= f.number_field :lat, step: :any %>

  <%= f.label :lng, "lng" %>
  <%= f.number_field :lng, step: :any%>

  <span style="display: block;">主題標籤</span>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :tag_name, {}, {multiple: true, class:"new_attraction_checkbox"} %>
  <div class="center">
    <%= f.submit class:"btn devise-btn" %>
  </div>
<% end %>
