<div class="section">
  <div class="container">

    <%= link_to "新增景點", new_admin_attraction_path %>
    <ul>
      <li><%= link_to "All", admin_attractions_path, class: "chip" %></li>
      <% @categories.each do |category| %>
        <li style="display: inline-block;"><%= link_to category.tag_name, admin_attractions_path(category_id: category.id),class:"chip" %></li>
      <% end %>
    </ul>
    <%if @category %>
      <h5>您所選取的類別：<%=@category.tag_name%></h5>
    <%else%>
      <h5>您所選取的類別：所有</h5>
    <%end%>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th><%= sort_link(@ransack, :address, 'address', default_order: :desc) %></th>
          <th>category</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <% @attractions.each do |attraction| %>
          <tr>
            <td><%= attraction.name %></td>
            <td><%= attraction.description %></td>
            <td><%= attraction.address %></td>
            <td>
              <% attraction.categories.each do |category| %>
                <p><%= category.tag_name %></p>
              <% end %>
            </td>
            <td>
              <%= link_to "Show", admin_attraction_path(attraction) %>
              <%= link_to "edit", edit_admin_attraction_path(attraction) %>
              <%= link_to "delete", admin_attraction_path(attraction), method: :delete, data: { confirm: "Are You Sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @attractions %>
  </div>
</div>

<%= javascript_tag do %>
  $(function(){

    <%#客製 layout 的變數%>

    $("#nav-bg-img").css("background-image","url(<%= asset_path 'backend.jpg' %>)");
    $("#nav-header-h1").text("神聖的管理殿堂");
    $("#nav-header-tag").text("");

  })
<% end %>