<div id="show-review" class="section gray">
  <div class="container">
    <div class="center">
      <h4>遊記－旅程紀錄</h4>
    </div>
    <div class="card">
      <div class="card-content">
        <%= link_to reviews_path, class:"btn blue-grey", style:"margin-top: -60px;" do %>
          返回首頁
        <%end%>
				<h5>
          <%= link_to attraction_path(@review.attraction), target: :_blank do %>
          [<%= @review.attraction.name %>]
          <%end%>
          - <%= @review.title%></h5>
				<%=@review.user.name%>建立於<%=time_ago_in_words @review.updated_at %>
				<p class="show-text"><%= @review.content %></p>
				<div class="review-images center">
					<% @review.images.each do |image| %>
					  <%= image_tag image %>
					<% end %>
				</div>

        <%if @relates&&@relates.length>0 %>

          <div class="row">
            <div class="col s12 offset-m1 m10">
              <h5 style="margin-bottom: 20px;">其他遊記</h5>
              <% @relates.each do |r| %>
                <%= link_to attraction_review_path(r.attraction, r), target: :_blank do %>
                  <%= render partial: "share/smallcard", locals: { image:"background-image: url(#{image_path(r.images.first)})", 
                                                        title:"[#{r.attraction.name}]- #{r.title}",
                                                        label:"#{r.user.name}建立於#{time_ago_in_words r.updated_at}之前" } %>
                <% end %>
              <% end %>
            </div>
          </div>

        <%end%>
      </div>
    </div>

  </div>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
    $(function(){
      //客製 layout 的變數
      $("#mainnav-2").addClass('active');
      $("#sidenav-2").addClass('active');
      $("#nav-bg-img").css("background-image","url(<%= asset_path 'map.jpg' %>)");
      $("#nav-header-h1").text("紀錄旅程點滴");
      $("#nav-header-tag").text("幫助更多喜愛旅遊的人！");

    })
  </script>
<% end %>