<!DOCTYPE html>
<html>
  <head>
    <title>TravelMaster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
    <!-- Navbar and Header -->
    <nav class="nav-extended">
      <div class="nav-background">
        <div id="nav-bg-img" class="pattern active" style="background-image: url('http://placehold.it/1400x300');"></div>
      </div>
      <div class="nav-wrapper container">
        <%= link_to root_path, class:"brand-logo" do %>
          <i class="material-icons">landscape</i>Travel Master
        <% end %>
        
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li id="mainnav-1" class="">
            <%= link_to root_path do %>
              Spots
            <% end %>
          </li>
          <li><a href="#">Feeds</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Docs</a></li>

          <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">會員功能<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id='feature-dropdown' class='dropdown-content'>
          <% if current_user %>
              <li><%= link_to('登出', destroy_user_session_path, method: :delete) %></li>
              <li><%= link_to('修改密碼', edit_user_registration_path) %></li>
            <% else %>
              <li><%= link_to('註冊', new_user_registration_path) %></li>
              <li><%= link_to('登入', new_user_session_path) %></li>
          <% end %>
        </ul>

        <div class="nav-header center">
          <h1 id="nav-header-h1" >######</h1>
          <div id="nav-header-tag" class="tagline">#######</div>
        </div>
      </div>
    </nav>

    <ul class="side-nav" id="nav-mobile">
      <li id="sidenav-1" class="">
        <%= link_to root_path do %>
          <i class="material-icons">landscape</i>Spots
        <% end %>
      </li>
      <li><a href="#"><i class="material-icons">brightness_3</i>Feeds</a></li>
      <li><a href="#"><i class="material-icons">edit</i>Blog</a></li>
      <li><a href="#"><i class="material-icons">school</i>Docs</a></li>
      <% if current_user %>
          <li><%= link_to destroy_user_session_path, method: :delete  do %>
            <i class="material-icons">fullscreen</i>登出<%end%>
          </li>
          <li><%= link_to edit_user_registration_path do %>
            <i class="material-icons">fullscreen</i>修改密碼<%end%>
          </li>
        <% else %>
          <li><%= link_to new_user_registration_path do %>
            <i class="material-icons">fullscreen</i>註冊<%end%>
          </li>
          <li><%= link_to new_user_session_path do %>
            <i class="material-icons">fullscreen</i>登入<%end%>
          </li>
      <% end %>
    </ul>
    </header>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 
    <%= yield %>

    <script>
  (function($){ //initialize
    $(function(){

      // Navbar
      $(".button-collapse").sideNav();
      var categories = $('nav .categories-container');
      if (categories.length) {
        categories.pushpin({ top: categories.offset().top });
        var $links = categories.find('li');
        $links.each(function() {
          var $link = $(this);
          $link.on('click', function() {
            $links.removeClass('active');
            $link.addClass('active');
            var hash = $link.find('a').first()[0].hash.substr(1);
            var $galleryItems = $('.gallery .gallery-item');

            $galleryItems.stop().addClass('gallery-filter').fadeIn(100);

            if (hash !== 'all') {
              var $galleryFilteredOut = $galleryItems.not('.' + hash).not('.all');
              $galleryFilteredOut.removeClass('gallery-filter').hide();
            }

            // transition layout
            $masonry.masonry({
              transitionDuration: '.3s'
            });
            // only animate on layout
            $masonry.one( 'layoutComplete', function( event, items ) {
              $masonry.masonry({
                transitionDuration: 0
              });
            });
            setTimeout(function() {

            $masonry.masonry('layout');
            }, 1000);
          });
        });
      }


      // Home
      $('.carousel:not(.carousel-slider)').carousel({
        dist: 0,
        padding: 10
      });
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true,
        onCycleTo: function(el) {
          $('.nav-background img').removeClass('active');
          $('.nav-background img').eq(el.index()).addClass('active');
        }
      });

      // Contact Form Icon
      $("form .form-control").focus(function() {
        $(this).siblings("label").first().children("i").first().css({"color": "#aaa", "left": 0});
      });
      $("form .form-control").blur(function() {
        $(this).siblings("label").first().children("i").first().css({"color": "transparent", "left": "-20px"});
      });


    }); // end of document ready
  })(jQuery); // end of jQuery name space

    </script>

  </body>
</html>
