<div id="<%= id %>" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <%= image_tag image %>
    </a>
    <div class="gallery-header">
      <span><%= name %></span>
    </div>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><%= name %></h3>
        <span class="price"><%= address %></span>
      </div>
      <p class="description">
        <%= description %></p>
      <div class="carousel-wrapper">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
        </div>
      </div>
      <%= link_to "我要投稿", new_attraction_comment_path(attraction_id: id), class: "btn"  if !current_user.has_comment?(id) %>
      <%= link_to "再次投稿", new_attraction_comment_path(attraction_id: id), class: "btn"  if current_user.has_passed_comment?(id) %>
      <%= link_to "等待審核", "#", class: "btn"  if current_user.has_pending_comment?(id) %>
      <% if comments %>
        <% comments.each do |comment| %>
          <%= link_to "觀賞遊記", attraction_comment_path(attraction_id: id, id: comment.id), class: "btn" %>
        <% end %>
      <% end %>
    </div>
    <div class="gallery-action">
      <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
    </div>
  </div>
</div>