<div id="<%= id %>" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <%= image_tag "400x300.png" %>
    </a>
    <div class="gallery-header">
      <span><%= name %></span>
    </div>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><%= name %></h3>
        <span class="price"><%= address %></span>
      </div>

      <p class="description">
        <%= description %>   </p>

<form>
  
  <div class="input-field inline" style="min-width: 400px;">
    <label for="new-comment-<%=id%>">留言</label>
    <input type="text" id="new-comment-<%=id%>">
  </div>
  <div class="input-field inline">
    <button id="create-comment-<%=id%>" class="create-comment btn">Create<i class="material-icons right">send</i></button>
  </div>
</form>

<table class="highlight bordered">
  <thead>
    <tr>
        <th>留言</th>
        <th>作者</th>
    </tr>
  </thead>
  <tbody id="comment-tbody-<%=id%>" class="comment-tbody">
    <% comments.each do |c| %>
    <tr id="comment-<%=c.id%>">
      <td><%=c.content%></td>
      <td><%= c.user.name %> (<%=time_ago_in_words c.updated_at %>ago)
        <% if current_user == c.user %>
          <a href="#" class="comment-delete">delete</a>
        <%end%>
      </td>
    </tr>
    <%end %>
  </tbody>
</table>

      <div class="carousel-wrapper">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
        </div>
      </div>
    </div>
    <div id="like-action-<%=id%>" class="like-action gallery-action">
      <% if Attraction.find(id).is_liked?(current_user) %>
        <a href="#" class="btn-unlike btn-floating btn-large waves-effect waves-light"><i class="material-icons">backspace</i></a>
      <% else %>
        <a href="#" class="btn-like btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
      <% end %>
    </div>
  </div>
</div>