<div id="<%= id %>" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <%= image_tag "400x300.png" %>
    </a>
    <div class="gallery-header">
      <span><%= name %></span>
    </div>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><%= name %></h3>
        <span class="price"><%= address %></span>
      </div>

      <p class="description">
        <%= description %>   </p>


      <%= form_for [attraction, comment] do |f| %>
      <%= f.text_area :content, placeholder: "在此留言" %>
      <%=f.submit %>
      <%= f.button "Cancel", type: :reset %>
      <%end%>



      <div class="carousel-wrapper">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
        </div>
      </div>
    </div>
    <div class="gallery-action">
      <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">
      <% if Attraction.find(id).is_liked?(current_user) %>
      <%= link_to 'Unlike', unlike_attraction_path(Attraction.find(id)), method: :post %>
      <% else %>
      <%= link_to 'Like', like_attraction_path(Attraction.find(id)), method: :post %>
      <% end %>
      </i></a>
    </div>
  </div>
</div>