<div id="<%= spot.id %>" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
  <div class="gallery-curve-wrapper">
    <div class="gallery-cover gray">
      <%= image_tag spot.image %>
    </div>
    <div class="gallery-header">
      <span class="gallery-header-title"><%= spot.name %></span>
      <div class="gallery-header-intro">
        <% if list %>
          旅行時間 <%= list.list_attractions.where(attraction_id: spot.id).first.duration %>
        <% else %>
          <%= spot.address %>
        <%end%>
        </div>
      <% starN = (spot.reviews.passed.size) + (spot.comments.size/5)%>
      <% starN = starN.floor() %>
      <div class="stars-<%=starN%> gallery-header-rating"><span>熱門程度 </span></div>
    </div>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><%= spot.name %></h3>
        <% if list %>
          <h5>旅行時間 <%= list.list_attractions.where(attraction_id: spot.id).first.duration %></h5>
        <% end %>
        <span class="price"><%= spot.address %></span>
        <% if list %>
          <a href="https://www.google.com.tw/maps/dir/<%= list.origin_lat %>,<%= list.origin_lng %>/<%= spot.lat %>,<%= spot.lng %>" target="_blank">Google Map</a>
        <% end %>
      </div>

      <p class="description">
        <%= spot.description %></p>
      <div class="spot-show-tags">
        <label>
          主題：
          <% spot.categories.each do |c|%>
            <%= link_to c.tag_name, browse_attractions_path(q: { categories_id_eq_any: c.id}), target: "_blank" %>
          <% end %>
        </label>
        <br/>
        <label class="near-by-attractions near-by-<%= spot.id %>">
          附近景點(<%= spot.near_by.size %>)：
          <% spot.near_by.each_with_index do |n,i| %>
            <% if i > 5 %>
              <%= link_to show_near_by(n), attraction_path(id: n), target: "_blank", class:"hided", style: "display:none;" %>
            <% else %>
              <%= link_to show_near_by(n), attraction_path(id: n), target: "_blank" %>
            <% end %>
          <% end %>
          <a href="#" class="more-spot">more...</a>
        </label>
        <label>
          <div class="stars-<%= starN %>"><span>熱門程度 </span></div>
        </label>
      </div>
      <hr style="max-width: 600px; margin-top: 24px;margin-bottom: 24px;">

      <div class="spot-reviews-title" style="margin-bottom: 8px;">
        <h5 style="display: inline-block;">精選遊記</h5>
      </div>

      <div id="spot-reviews">
        <% if spot.reviews.passed.size > 0 %>
          <div class="row">
            <div class="col s12 offset-m1 m10">
              <% spot.reviews.passed.each do |r| %>
                <%= link_to attraction_review_path(r.attraction, r), target: :_blank do %>
                  <%= render partial: "share/smallcard", locals: { image:"background-image: url(#{image_path(r.images.first)})", 
                                                        title:"[#{r.attraction.name}]- #{r.title}",
                                                        label:"#{r.user.name}建立於#{time_ago_in_words r.updated_at}之前" } %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% else %>
        <p>尚未有遊記發布</p>
        <% end %>
      </div>

      <h5>討論留言區</h5>
      <form onsubmit="return false;">
        <div class="input-field inline" style="min-width: 400px;">
          <label for="new-comment-<%= spot.id %>">留言</label>
          <input type="text" id="new-comment-<%= spot.id %>">
        </div>
        <div class="input-field inline">
          <button id="create-comment-<%= spot.id %>" class="create-comment btn">新增</button>
        </div>
      </form>

      <table class="highlight bordered responsive-table">
        <thead>
          <tr>
            <th>留言</th>
            <th>作者</th>
          </tr>
        </thead>
        <tbody id="comment-tbody-<%= spot.id %>" class="comment-tbody">
          <% spot.comments.each do |c| %>
            <tr id="comment-<%= c.id %>">
              <td><p><%= c.content %></p>
                <% if c.user.has_passed_review?(spot.id) %>
                  <span class="new badge blue" data-badge-caption="visted"></span>
                <% end%>
              </td>
              <td>
                <%= c.user.name %> ( <%= time_ago_in_words c.updated_at %> ago )
                <% if current_user == c.user %>
                  <a href="#" class="comment-delete">刪除</a>
                <% end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="height: 120px; width: 120px; background-color: white;"></div>
    </div>
    <div id="like-action-<%= spot.id %>" class="like-action gallery-action">
      <% if spot.is_liked?(current_user) %>
        <a title="取消收藏" href="#" class="btn-unlike btn-floating btn-large waves-effect waves-light center">
          <%= image_tag "noheart.png", style:"width:60%; margin-top:14px;" %>
        </a>
      <% else %>
        <a title="收藏景點" href="#" class="btn-like btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
      <% end %>
    </div>
  </div>
</div>