<div id="<%= id %>" class="col l4 m6 s12 gallery-item gallery-expand gallery-filter polygon">
  <div class="gallery-curve-wrapper">
    <a class="gallery-cover gray">
      <%= image_tag "400x300.png" %>
    </a>
    <div class="gallery-header">
      <span><%= name %></span>
    </div>
    <div class="gallery-body">
      <div class="title-wrapper">
        <h3><%= name %></h3>
        <span class="price"><%= address %></span>
      </div>

      <p class="description">
        <%= description %>   </p>




<form>
  <label>Add new comment</label>
  <div class="input-group">
    <input type="text_area" id="new-comment-<%=id%>" class="form-control" />
    <div class="input-group-addon">
      <button id="create-comment-<%=id%>" class="create-comment my-btn my-btn-transparent">Create</button>
    </div>
  </div>
</form>



      <div class="carousel-wrapper">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
          <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
        </div>
      </div>
    </div>
    <div id="like-action-<%=id%>" class="like-action gallery-action">
      <% if Attraction.find(id).is_liked?(current_user) %>
        <a href="#" class="btn-unlike btn-floating btn-large waves-effect waves-light"><i class="material-icons">backspace</i></a>
      <% else %>
        <a href="#" class="btn-like btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
      <% end %>
    </div>
  </div>
</div>