<div id="portfolio" class="section gray">
  <div class="container">
    
    <div class="center">
      <h4>所有景點-分類檢視</h4>
    </div>

    <div class="gallery row">

      <%= search_form_for @ransack, :url => browse_attractions_path, class:"browse-form" do |f| %>
        <% Category.all.each do |c|%>
        <p>
          <% if @categories&& @categories.include?(c)%> 
            <%= check_box_tag "q[categories_id_eq_any][]",c.id, checked:"checked" %>
          <% else %>
            <%= check_box_tag "q[categories_id_eq_any][]",c.id%>
          <% end %>
          <%= label_tag "q[categories_id_eq_any][#{c.id}]", c.tag_name %>
        </p>
        <% end %>
        <div class="center browse-form-submit">
        <%= f.submit "開始搜尋", class:"btn" %>
        </div>
      <%end%>
      <% if @attractions && @attractions.size > 0 %>
        <% @attractions.each do |spot| %>
        <%= render partial: "spot", locals: { id:spot.id,
                                              name: spot.name,
                                              image: spot.image,
                                              address: spot.address,
                                              comments: spot.comments,
                                              lat: spot.lat,
                                              lng: spot.lng,
                                              description: spot.description,
                                              list: @list,
                                              reviews: spot.reviews.passed,
                                              categories: spot.categories } %>
        <% end %>
      <% else %>
        不好意思，沒有搜尋結果，請重新嘗試！
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(function(){

    <%#客製 layout 的變數%>
    $("#mainnav-1").addClass('active');
    $("#sidenav-1").addClass('active');

    $("#nav-bg-img").css("background-image","url(<%= asset_path 'rock.jpg' %>)");
    $("#nav-header-h1").text("想出門走走？馬上開始");
    $("#nav-header-tag").text("找尋景點好幫手");
  });
<%end %>

<script>
$(function(){

  $("input[type='checkbox']").each(function() {
    var val = $(this).val();
    console.log( $(this).attr('id'));
    $(this).attr('id', "q_categories_id_eq_any_"+val);
    $(this).addClass("filled-in");
  });

});
</script>