
    <div id="portfolio" class="section gray">
      <div class="container">
        <div class="gallery row">

        <% if @show #以controller show進入 %>
          <%= render partial: "spot", locals: {id:@show.id,name: @show.name,address: @show.address,description: @show.description} %>
        <%else #以controller index進入 %>
          <% if @attractions && @attractions.length>0 %>
            <% @attractions.each do |spot| %>
            <%= render partial: "spot", locals: {id:spot.id,name: spot.name,address: spot.address,description: spot.description}%>
            <%end%>
          <% else %>
            不好意思，沒有搜尋結果，請重新嘗試！
          <%end%>
        <%end%>

        </div>
      </div>
    </div><!-- /.container -->



<%= javascript_tag do %>
  $(function(){

  <%#客製 layout 的變數%>
  $("#mainnav-1").addClass('active');
  $("#sidenav-1").addClass('active');

  $("#nav-bg-img").css("background-image","url(<%= asset_path 'rock.jpg' %>)");
  $("#nav-header-h1").text("想出門走走？馬上開始");
  $("#nav-header-tag").text("找尋景點好幫手");

  <% if @show #以controller show進入 %>
    $(function(){$('#<%=@show.id%>').galleryExpand('open');})
  <%end%>

  })
<% end %>

<script>
  (function($){ //initialize
    $(function(){

      var onShow = function(el) {
        console.log();
        history.pushState({},"","/attractions/"+el.attr('id'));
        //消除的部分在galleryExpand.js
      };

      $('.gallery-expand').galleryExpand({
        onShow: onShow,
      });

      var $masonry = $('.gallery');
      $masonry.masonry({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.gallery-item',
        // use element for option
        columnWidth: '.gallery-item',
      });

      // layout Masonry after each image loads
      $masonry.imagesLoaded(function() {
        $masonry.masonry('layout');
      });



    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>