<div id="starter" class="section">
  <div class="function-trigger center">
    <div id="open-search" class="btn">開始旅程</div>
  </div>
</div>

<div id="function" class="section" style="display: none;">
  <div class="container">
    <div class="search-outter center">
      <div class="all-tags-container">
        <div class="vibe-outter tags-outter">
          <span>熱門主題</span>
          <div class="grid-1 grid-css">
            <span></span>
          </div>
        </div>
        <div class="time-outter tags-outter">
          <span>旅程時間</span>
          <div class="grid-2 grid-css">
            <span></span>
          </div>
        </div>
        <div class="traffic-outter tags-outter">
          <span>交通工具</span>
          <div class="grid-3 grid-css">
            <span></span>
          </div>
        </div>
        <div class="returned-outter tags-outter" style="display: none;">
          <span>待選區</span>
          <div class="grid-4 grid-css">
          </div>
        </div>
        <a class="modal-trigger" href="#modal1">所有標籤</a>
      </div>
      <div class="input-outter">
        <label for="tags-input" class="active">標籤搜尋</label>
        <input id="tags-input" class="typehead-input" type="text" data-role="materialtags">
      </div>
      <div class="input-outter">
        <%= form_tag("/attractions/search", method: "post", class: "main-input") do %>
          <label for="search[location]" class="active">出發位置</label>
          <div id="location-check"></div>
          <%= text_field_tag 'search[location]' %>
          <%= hidden_field 'search', 'tags' %>
          <%= hidden_field 'search', 'geo_location' %>
          <%= submit_tag "送出", class: "btn submit", id: "search_submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content tags-modal">
    <table id="tags-modal-table">
      <thead>
        <tr>
          <th style="min-width: 80px;">分類</th>
          <th>標籤 (點選自動加入搜尋)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>主題</td>
          <td>
            <% @vibe_tags.each do |tag| %>
              <div class="modal-tag chip vibe"><%= tag %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>時間</td>
          <td>
            <% @time_tags.each do |tag| %>
              <div class="modal-tag chip time"><%= tag %></div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>交通</td>
          <td>
            <%@traffic_tags.each do |tag| %>
              <div class="modal-tag chip traffic"><%= tag %></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">關閉</a>
  </div>
</div>

<div id="portfolio" class="section gray">
  <div class="container message">
    <div class="center">
      <% if @way_check == 1 %>
        <h5>您所在的分類是<%= @category.tag_name %></h5>
      <% elsif @way_check == 3 %>
        <h5>您所選擇的標籤是<%= @list.travel_tag.present? ? @list.travel_tag.join(",") : "未輸入" %>，出發地點是<%= @list.origin %></h5>
      <%end%>
    </div>
  </div>

  <div class="container">
    <div class="center">
      <% if @way_check == 1 %>
        <h4>分類景點</h4>
      <% elsif @way_check == 3 %>
        <h4>為您推薦</h4>
      <% else %>
        <h4>精選景點</h4>
      <% end %>
    </div>

    <div class="gallery row">
      <% if @attractions && @attractions.size > 0 %>
        <% @attractions.each do |spot| %>
        <%= render partial: "spot", locals: { spot: spot, list: @list } %>
        <% end %>
      <% else %>
        不好意思，沒有搜尋結果，請重新嘗試！
      <% end %>
      <% if @show %>
        <%= render partial: "spot", locals: { spot: @show, list: @list } %>
      <% end %>
    </div>
    <% if @way_check == 3 %>
    <% else %>
    <div class="center">
      <%=link_to "（ 查看所有景點... ）", browse_attractions_path, style:"font-size: 18px;"%>
    </div>
    <% end %>
  </div>
</div><!-- /.container -->

<% content_for :page_js do %>
  <script type="text/javascript">
     <%= render file: "#{Rails.root}/app/views/attractions/JS/index.js.erb" %>
  </script>
  <script type="text/template" id="comment-template">
    <td class="c_content"></td>
    <td class="c_user_time"></td>
  </script>
<% end %>

