
<div id="starter" class="section">
  <div class="function-trigger center">
    <div id="open-search" class="btn">開始旅程</div>
  </div>
</div>

<div id="function" class="section" style="display: none;">
  <div class="container">

    <div class="search-outter center">

      <div class="vibe-outter tags-outter">
        <span>心情分類</span>
        <div class="grid-1 grid-css">
          <span></span>
        </div>
      </div>
      <div class="time-outter tags-outter">
        <span>旅程時間</span>
        <div class="grid-2 grid-css">
          <span></span>
        </div>
      </div>
      <div class="traffic-outter tags-outter">
        <span>交通工具</span>
        <div class="grid-3 grid-css">
          <span></span>
        </div>
      </div>
      <div class="returned-outter tags-outter" style="display: none;">
        <span>待選區</span>
        <div class="grid-4 grid-css">
        </div>
      </div>
      <div class="input-outter">
        <input id="#tags-input" class="typeahead" type="text" data-role="materialtags">
      </div>

    </div>
  </div>
</div>

<div id="portfolio" class="section gray">

  <div class="container">
    <div class="center">
      <h4>精選景點</h4>
    </div>

    <div class="gallery row">

    <% if @show #以controller show進入 %>
      <%= render partial: "spot", locals: {id:@show.id,name: @show.name,address: @show.address,description: @show.description} %>
    <%else #以controller index進入 %>

      <% if @attractions && @attractions.length>0 %>
        <% @attractions.each do |spot| %>
        <%= render partial: "spot", locals: {id:spot.id,name: spot.name,address: spot.address,description: spot.description}%>
        <%end%>
      <% else %>
        不好意思，沒有搜尋結果，請重新嘗試！
      <%end%>
    <%end%>

    </div>
  </div>
</div><!-- /.container -->



<%= javascript_tag do %>
  $(function(){

  <%#客製 layout 的變數%>
  $("#mainnav-1").addClass('active');
  $("#sidenav-1").addClass('active');

  $("#nav-bg-img").css("background-image","url(<%= asset_path 'rock.jpg' %>)");
  $("#nav-header-h1").text("想出門走走？馬上開始");
  $("#nav-header-tag").text("找尋景點好幫手");

  <% if @show #以controller show進入 %>
    $(function(){$('#<%=@show.id%>').galleryExpand('open');})
  <% else #以controller index進入 %>

    <%#讀取TAGS %>

    <% @vibe_tags.each do |vibe| %>
      $(".grid-1 span").after('<div class="grid-item chip vibe"><%=vibe%></div>');
    <%end%>

    <% @time_tags.each do |time| %>
      $(".grid-2 span").after('<div class="grid-item chip time"><%=time%></div>');
    <%end%>

    <% @traffic_tags.each do |traffic| %>
      $(".grid-3 span").after('<div class="grid-item chip traffic"><%=traffic%></div>');
    <%end%>

  <%end%>

  })
<% end %>

<script>

$(function(){

  function openSearch() { //tag initialize
    var $grid_1 = $('.grid-1').packery({
      itemSelector: '.grid-item',
      // columnWidth helps with drop positioning
      gutter: 10,
      columnWidth: 11,
    });
    $grid_1.find('.grid-item').each( function( i, gridItem ) {
      var draggie = new Draggabilly( gridItem );
      // bind drag events to Packery
      $grid_1.packery( 'bindDraggabillyEvents', draggie );
    });

    var $grid_2 = $('.grid-2').packery({
      itemSelector: '.grid-item',
      // columnWidth helps with drop positioning
      gutter: 10,
      columnWidth: 11,
    });
    $grid_2.find('.grid-item').each( function( i, gridItem ) {
      var draggie = new Draggabilly( gridItem );
      // bind drag events to Packery
      $grid_2.packery( 'bindDraggabillyEvents', draggie );
    });

    var $grid_3 = $('.grid-3').packery({
      itemSelector: '.grid-item',
      // columnWidth helps with drop positioning
      gutter: 10,
      columnWidth: 11,
    });
    $grid_3.find('.grid-item').each( function( i, gridItem ) {
      var draggie = new Draggabilly( gridItem );
      // bind drag events to Packery
      $grid_3.packery( 'bindDraggabillyEvents', draggie );
    });

    var $grid_4 = $('.grid-4').packery({
      itemSelector: '.grid-item',
      // columnWidth helps with drop positioning
      gutter: 10,
      columnWidth: 11,
    });
    $grid_4.find('.grid-item').each( function( i, gridItem ) {
      var draggie = new Draggabilly( gridItem );
      // bind drag events to Packery
      $grid_4.packery( 'bindDraggabillyEvents', draggie );
    });

    $grid_1.on( 'click', '.vibe.grid-item', function( event ) {
      $grid_1.packery( 'remove', event.currentTarget ).packery('shiftLayout');
      // shiftLayout remaining item elements
      $('input').materialtags('add', event.currentTarget.innerText );
      $('.n-tag').val("");
    });

    $grid_2.on( 'click', '.time.grid-item', function( event ) {
      $grid_2.packery( 'remove', event.currentTarget ).packery('shiftLayout');
      // shiftLayout remaining item elements
      $('input').materialtags('add', event.currentTarget.innerText );
      $('.n-tag').val("");
    });

    $grid_3.on( 'click', '.traffic.grid-item', function( event ) {
      $grid_3.packery( 'remove', event.currentTarget ).packery('shiftLayout');
      // shiftLayout remaining item elements
      $('input').materialtags('add', event.currentTarget.innerText );
      $('.n-tag').val("");
    });

    $grid_4.on( 'click', '.returned.grid-item', function( event ) {
      $grid_4.packery( 'remove', event.currentTarget ).packery('shiftLayout');
      // shiftLayout remaining item elements
      $('input').materialtags('add', event.currentTarget.innerText );
      $('.n-tag').val("");
    });

    $('input').on('beforeItemRemove', function(event) {
      var $items = $('<div class="grid-item chip returned">'+event.item+'</div>');
      // prepend items to grid
      $(".returned-outter").show();
      $grid_4.prepend( $items )
      // add and lay out newly prepended items
      .packery( 'prepended', $items );
    });

  };

  $( "#open-search" ).click(function() {
    $( "#starter" ).toggle();
    $( "#function" ).slideDown( "slow" );
    openSearch();
  });

  var onShow = function(el) {
    console.log();
    history.pushState({},"","/attractions/"+el.attr('id'));
    //消除的部分在galleryExpand.js
  };

  $('.gallery-expand').galleryExpand({
    onShow: onShow,
  });

  var $masonry = $('.gallery');
  $masonry.masonry({
    // set itemSelector so .grid-sizer is not used in layout
    itemSelector: '.gallery-item',
    // use element for option
    columnWidth: '.gallery-item',
  });

  // layout Masonry after each image loads
  $masonry.imagesLoaded(function() {
    $masonry.masonry('layout');
  });

}); // end of document ready

</script>