<h1>前台首頁</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>description</th>
        <th>address</th>
        <th>category</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @attractions.each do |attraction| %>
        <tr>
          <td><%= attraction.name %></td>
          <td><%= attraction.description %></td>
          <td><%= attraction.address %></td>
          <td>
            <% attraction.categories.each do |category| %>
              <p><%= category.tag_name %></p>
            <% end %>
          </td>
          <td>
            <%= link_to "Show", admin_attraction_path(attraction) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>