<div id="reveiws-index" class="section gray">
  <div class="container">
		<div class="center">
      <h4>Mytrips－我的紀錄</h4>
    </div>
    <%= render partial: "trip", locals: { trip_text: "我的遊記", trip_type: "review", trips: @reviews } %>
    <hr>
    <%= render partial: "trip", locals: { trip_text: "收藏的景點", trip_type: "", trips: @favorites } %>
    <hr>
    <%= render partial: "trip", locals: { trip_text: "留言過的景點", trip_type: "", trips: @commented } %>
	</div>
</div>
<%= javascript_tag do %>
  $(function(){
    <%#客製 layout 的變數%>
    $("#mainnav-3").addClass('active');
    $("#sidenav-3").addClass('active');
    $("#nav-bg-img").css("background-image","url(<%= asset_path 'travel.jpg' %>)");
    $("#nav-header-h1").text("收藏每個美麗瞬間");
    $("#nav-header-tag").text("留下足跡、大步邁進！");
  })
<% end %>